@charset "UTF-8";

#contents-main {
    width: 100%;
}

#contents-main > picture {
    display: block;
    width: 100%;
}

#contents-main > picture img {
    display: block;
    width: 100%;
    height: auto;
}

#hero-content {
    display: flex;
    justify-content: center;
}

#hero-content .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: clamp(0.45rem, 1.5625vw, 30px);
}

#hero-content .info .description {
    margin: 0;
    font-family: "NanumSquareB";
    color: #5581e8;
    text-align: center;
    line-height: 1.4em;
    padding: .6em 1.5em 1.4em;
}

#hero-content .info .description .highlight {
    font-family: "NanumSquareEB";
    color: #436adc;
}

#hero-content .info .bi {
    width: 20em;
    height: auto;
    margin-top: -1em;
}

#hero-content .info .hero-description {
    display: inline-block;
    background-color: #ffff8d;
    border-radius: 1.875em;
    padding: 0.5em 1em;
    text-align: center;
    font-family: "NanumSquareB";
    font-size: clamp(0.7rem, 2.0833vw, 40px);
    color: #ffaa00;
    margin: 0;
    line-height: 1.4em;
}

#hero-content .info .hero-description .highlight {
    font-family: "NanumSquareEB";
    color: #5581e8;
}

