@charset "UTF-8";

html {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-size: clamp(10px, 1.5vw + 1.2px, 30px);
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    word-break: keep-all;
}

body ul {
    list-style: none;
}

body a {
    text-decoration: none;
}

.highlight {
    color: #1ec8c8;
}

.highlight-pink {
    color: #ff5a96;
}


